/* Defaults */
body {
  background: #f9f9f9;
  color: #465665;
}

a {
  color: #5b7083;
  transition: all .3s ease-in-out;
}

/* The title */
.title {
  font-weight: 700;
}

/* The description */
.desc {
  font-size: 1em;
  font-style: italic;
  font-family: Georgia, serif;
}

/* Text-centering */
.title,
.desc,
.intro {
  text-align: center;
}

/* Intro section */
.intro {
  margin: 1.75em 0 .75em;
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  margin-bottom: 1.75em;
}

.intro h3 {
  font-size: .825em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin: .25em .75em .75em;
}

.intro h3 a {
  font-weight: 400;
}

/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 10px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 0px;
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {

}

.masonry .brick:hover img {

}

/* Bordered masonry */
.masonry.bordered {
  column-rule: 0px solid #eee;
  column-gap: 0px;
}

.masonry.bordered .brick {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless .brick {
  margin-bottom: 0;
}

/* Masonry on phones */
@media only screen and (max-width: 768px) {
  .masonry {
    column-count: 1;
  }
  
  .masonry.gutterless .brick {
    margin-bottom: 1px;
  }
  
	/* Bordered masonry */
	.masonry.bordered {
	  column-gap: 1px;
	}

	.masonry.bordered .brick {
	  padding-bottom: 0px;
	  border-bottom: 0;
	}
  
  body {
    background: #202020;
	color:#fff;
  }
  
  h1 {
	color:#888;
  }
  
  h2 {
	color:#666;
  }
  
  h3 {
	color:#fff;
  }
  
  a {
    color: #fff;
  }

/*  
  .intro {
    display:none;
  }
  */
  h1,h2 {
  display:none;
  }
  
  
}


/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 1;
  }
  
  body {
    background: #202020;
	color:#fff;
  }
  
  h1 {
	color:#888;
  }
  
  h2 {
	color:#666;
  }
  
  h3 {
	color:#fff;
  }
  
  a {
    color: #fff;
  }
  
  .masonry.bordered .brick {

  }
  
  .masonry.bordered {

  }
  
  h1,h2 {
    display:none;
  }
  
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 1;
  }
  
  .masonry.bordered .brick {
  border-bottom: 0px solid #303030;
  }
  
  .masonry.bordered {
  column-rule: 0px solid #303030;
  }
  
  body {
    background: #202020;
	color:#fff;
	
  }
 
  
  h1 {
	color:#888;
  }
  
  h2 {
	color:#666;
  }
  
  h3 {
	color:#fff;
  }
  
  a {
    color: #fff;
  }
 /*
  .intro {
    display:none;
  }
  */
  h1,h2 {
  display:none;
  }
}